.avatar-small {
    vertical-align: middle;
    margin: 5px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0 #aaaaaa;
}

.avatar-large {
    vertical-align: middle;
    margin: 5px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 0 #aaaaaa;
}

.avatar-larger {
    vertical-align: middle;
    margin: 5px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    box-shadow: 2px 2px 5px 0 #aaaaaa;
}

.avatar-medium {
    vertical-align: middle;
    margin: 5px;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    box-shadow: 2px 2px 5px 0 #aaaaaa;
}

.avatar-medium-small {
    vertical-align: middle;
    margin: 0;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    box-shadow: 2px 2px 5px 0 #aaaaaa;
}


.avatar-left {
    float: left;
}

.avatar-right {
    float: right;
}

.avatar-center {
    vertical-align: top;
    margin: auto;
    text-align: center;
    display: block;
}

.avatar-label {
    margin-top: 5px;
    vertical-align: top;
    font-variant: small-caps;
    font-size: small;
    text-align: center;
    width: 100%
}

.avatar-small-label {
    margin-top: 5px;
    vertical-align: top;
    font-variant: small-caps;
    font-size: x-small;
    text-align: center;
    width: 100%
}

.avatar-container {
    margin: 5px 0 5px 0;
    display: inline-block;
    vertical-align: top;
    width: 65px;
    padding: 0 2px 0 2px;
}

.avatar-small-container {
    margin: 5px 0 5px 0;
    display: inline-block;
    vertical-align: top;
    width: 45px;
    padding: 0 2px 0 2px;
}

.avatar-group {
    margin: 0;
    padding: 0;
}
