.jira-activity {
    margin: 5px 0 5px 0;
    border: 1px solid black;
    width: 100%;
    float: left;
    background-color: hsl(0, 0%, 95%);
    box-shadow: 2px 2px 5px 0 #aaaaaa;
}

.jira-activity-description {
    margin: 5px;
    padding-left: 5px;
    overflow: hidden;
    font-size: x-small;
}

.jira-mini-issue {
    margin: 5px -1px 5px 0;
    border: 1px solid black;
    width: 100%;
    background-color: hsl(0, 0%, 95%);
    box-shadow: 2px 2px 5px 0 #aaaaaa;
    height: 28px;
}

.jira-bullet-issue {
    margin: 5px -1px 5px 0;
    border: 0;
    width: 100%;
    /*background-color:(0, 0%, 95%);*/
    /*box-shadow: 2px 2px 5px 0 #aaaaaa;*/
    height: 18px;
}

.jira-mini-issue-project {
    overflow: hidden;
    float: right;
    height: inherit;
    /*height: 28px;*/
    width: 15px;
    color: #eee8d5;
}

.jira-bullet-issue-project {
    overflow: hidden;
    float: left;
    height: inherit;
    /*height: 28px;*/
    width: 10px;
    color: #eee8d5;
}

.jira-mini-issue-description {
    padding: 5px 5px 5px 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: top;
    font-family: "Lucinda Grande", "Lucinda Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

.jira-bullet-issue-description {
    padding: 2px 0 0 5px;
    margin: 1px;
    height: inherit;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;

    font-family: "Lucinda Grande", "Lucinda Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    font-size: small;
}

.jira-mini-issue-flagged {
    margin: 5px;
    width: 18px;
    height: 18px;
    float: left;
}

.jira-bullet-issue-flagged {
    margin: 2px;
    width: 14px;
    height: 14px;
    float: left;
}

/* Full size issues */

.jira-issue {
    margin: 5px -1px 5px 0;
    border: 1px solid black;
    width: 100%;
    background-color: hsl(0, 0%, 95%);
    overflow: hidden;
    box-shadow: 2px 2px 5px 0 #aaaaaa;

    min-height: 70px;
}

.jira-issue-description {
    /*margin: 5px 5px 5px 10px;*/
    padding: 5px;
    overflow: hidden;
    vertical-align: top;
    font-family: "Lucinda Grande", "Lucinda Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

.jira-issue-project {
    text-align: left;
    padding-left: 2px;
    padding-right: 2px;
    text-indent: 5px;
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;

    overflow: hidden;
    text-overflow: ellipsis;

    float: right;
    height: inherit;
    color: #eee8d5;
    min-height: inherit;
}

.jira-issue-flagged {
    width: 20px;
    height: 20px;
    margin: 0 auto;
    display: block;
}


.jira-issue-group {
    float: right;
    height: inherit;
    min-height: inherit;
    padding: 0;
}

.wide-issue-column {
    display: inline-block;
    vertical-align: top;
    max-width: 800px;
    width: 800px;
    padding: 10px;
}

.issue-column {
    display: inline-block;
    vertical-align: top;
    max-width: 360px; /* 4 = 270, 3 = */
    width: 360px;
    padding: 10px;
}

.narrow-issue-column {
    display: inline-block;
    vertical-align: top;
    max-width: 300px;
    width: 300px;
    padding: 10px;
}

.micro-issue-column {
    display: inline-block;
    vertical-align: top;
    max-width: 190px;
    width: 190px;
    padding: 10px;
}

.issue-column-title {
    text-align: center;
    font-variant: small-caps;
}

/*http://cssarrowplease.com/*/
.arrow_box {
    position: relative;
    background: rgba(255, 255, 255, 0);
    border-top: 1px solid #515e66;
    border-bottom: none;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 10px;
    margin-top: 40px;
}

.arrow_box:after, .arrow_box:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: hsl(0, 0%, 88%);
    border-width: 30px;
    margin-left: -30px;
}

.arrow_box:before {
    border-color: rgba(81, 94, 102, 0);
    border-bottom-color: #515e66;
    border-width: 31px;
    margin-left: -31px;
}


.flat_box {
    position: relative;
    background: rgba(255, 255, 255, 0);
    border-top: 1px solid #515e66;
    border-bottom: none;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 10px;
    margin-top: 40px;
}