<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/ci.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/css/achievement.css"/>
    <link rel="stylesheet" type="text/css" href="/css/avatar.css"/>
    <link rel="stylesheet" type="text/css" href="/css/issues.css"/>

    <script src="/js/jquery-3.2.1.min.js" type="text/javascript"></script>
</head>


<script language="javascript" type="text/javascript">
    function fetchAchievements() {
        $('#achievements').load('/achievements');
        setTimeout(fetchAchievements, 60 * 1000);
    }


    function fetchBuilds() {
        {% for build in ci %}
            $('#build_{{ build.name|idify }}').load('/ci/{{ build.name|urlencode }}');
        {% endfor %}

        setTimeout(fetchBuilds, 60 * 1000);
    }


    var tick = false;

    function updateTime() {
        tick = !tick;
        $('.time').text(function (index) {
            var time = new Date();
            var hours = time.getHours();
            if (hours < 10) {
                hours = "0" + hours;
            }

            var minutes = time.getMinutes();
            if (minutes < 10) {
                minutes = "0" + minutes;
            }
            return hours + (tick ? ":" : " ") + minutes;
        });
    }


    function fetchTeam() {
        $('#team').load('/team');
        setTimeout(fetchTeam, 60 * 60 * 1000);
    }

    function fetchExcuse() {
        $('.excuse').load('/excuse');
        setTimeout(fetchExcuse, 60 * 60 * 1000);
    }

    function fetchIssues() {
        $('#todo').load('/issues/todo');
        $('#in_progress').load('/issues/in_progress');
        $('#ready_for_review').load('/issues/ready_for_review');
        $('#in_review').load('/issues/in_review');
        $('#external_test').load('/issues/external_test');
        setTimeout(fetchIssues, 30 * 1000);
    }

    var timestamp = null;

    function checkTimestamp() {
        $.get("/timestamp", function (data) {
            if (timestamp === null) {
                timestamp = data;
            }

            if (timestamp !== null && timestamp !== data) {
                console.log("Timestamp changed, reloading page!");
                window.location.reload(true);
            }
        });
        setTimeout(checkTimestamp, 30 * 1000);
    }

    function initialize() {
        setInterval(updateTime, 1000);

        fetchAchievements();
        fetchBuilds();
        fetchTeam();
        fetchIssues();
        fetchExcuse();

        checkTimestamp();
    }

</script>

<body onload="initialize();">

<div class="dashboard-column">

    <div class="dashboard-element">
        <div class='dashboard-title'>Build Status</div>
        {% for build in ci %}
            <div id="build_{{ build.name|idify }}"></div>
        {% endfor %}
    </div>

    <br/>

    <div id="todo_box" class="dashboard-element">
        <div class='dashboard-title'>To Do</div>
        <div id="todo" class="issue-group"></div>
    </div>


</div>

<div class="dashboard-column">

    <div id="issues" class="dashboard-element" style="width: 1150px; !important">
        <div class='dashboard-title'>Tasks in Progress</div>
        <div class="time"></div>

        <div class="issue-column">
            <div class="issue-column-title">In Progress</div>
            <div id="in_progress" class="issue-group"></div>
        </div>

        <div class="issue-column">
            <div class="issue-column-title">Ready for Review</div>
            <div id="ready_for_review" class="issue-group"></div>
            <div style="height: 20px"></div>
            <div class="issue-column-title">In Review</div>
            <div id="in_review" class="issue-group"></div>
        </div>

        <div class="issue-column">
            <div class="issue-column-title">External Test</div>
            <div id="external_test" class="issue-group"></div>
        </div>
    </div>

    <br/>

    <div class="excuse"></div>
</div>

<div class="dashboard-column">

    <div class="dashboard-element">
        <div class='dashboard-title'>Achievements</div>
        <div id="achievements"></div>
    </div>

    <br/>

    <div class="dashboard-element">
        <div class='dashboard-title'>Team Members</div>
        <div id='team' class="avatar-group"></div>
    </div>
</div>


</body>
</html>
