<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/css/achievement.css"/>

    <script src="/js/jquery-3.2.1.min.js" type="text/javascript"></script>
</head>

<body>

<div class="dashboard-column">

    <div class="dashboard-element">
        <div class='dashboard-title'>Achievements</div>
        <div id="achievements"></div>
    </div>
</div>


</div>

<script language="javascript" type="text/javascript">
    function fetchPulls() {
        $('#achievements').load('/achievements');

        setTimeout(fetchPulls, 60000);
    }
    fetchPulls();
</script>

</body>
</html>
