<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/ci.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/css/achievement.css"/>

    <script src="/js/jquery-3.2.1.min.js" type="text/javascript"></script>
</head>

<body>

<div class="dashboard-column">

    <div class="dashboard-element">
        <div class='dashboard-title'>Achievements</div>
        <div id="achievements"></div>
    </div>

    <div class="dashboard-element">
        <div class='dashboard-title'>Build Status</div>
        {% for build in ci %}
            <div id="build_{{ build.name|idify }}"></div>
        {% endfor %}
    </div>
</div>


</div>

<script language="javascript" type="text/javascript">
    function fetchAchievements() {
        $('#achievements').load('/achievements');
        setTimeout(fetchAchievements, 60000);
    }
    fetchAchievements();

    function fetchBuilds() {
        {% for build in ci %}
            $('#build_{{ build.name|idify }}').load('/ci/{{ build.name|urlencode }}');
        {% endfor %}

        setTimeout(fetchBuilds, 60000);
    }
    fetchBuilds();
</script>

</body>
</html>
